.brandSection {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandSectionCtn {
  max-width: 1700px;
}
.BrandMain {
  padding-top: 30px;
}
.BrandMain .slick-slide {
  padding-right: 10px !important;
  width: max-content;
}

.Brand-List p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;

  cursor: pointer;
}

.BrandMain .item {
  width: 100%;
  min-width: 150px;
  height: auto;
  border: 2px solid #ffc0c0;
  padding: 15px;
  border-radius: 10px;
  margin: 2px;
  transition: ease-in-out 0.3s;
  min-height: 235px;
  z-index: 100;
}

.BrandMain-ads {
  position: relative;
  padding: 20px;
  height: 500px;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  background-color: #ff4949;
}

.BrandMain-ads h1 {
  font-size: 30px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
}
.BrandMain-ads p {
  position: absolute;
  font-size: 15px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 98;
  top: 50%;
  border: 1px solid white;
  color: white;
  font-weight: 600;
}
.BrandMain-ads img {
  width: 100%;
  max-width: 350px;
  position: absolute;
  bottom: 0;
}

.BrandMain .slick-arrow.slick-prev {
  left: 1.2% !important;
  background-color: #7e7e7e;
  border-radius: 60%;
  z-index: 1;
}

.BrandMain .slick-arrow.slick-next {
  right: 1.5% !important;
  background-color: #7e7e7e;
  border-radius: 60%;
  z-index: 1;
}
.BrandMain .item .BrandCtn {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.BrandMain .item img {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.BrandMain .item .BrandCtn h1 {
  font-size: 25px;
  letter-spacing: 0.5px;
}

.BrandMain .item .BrandCtn p {
  padding: 10px 20px;
  background-color: #757575;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
